ul li a{
    font-weight: 500;
    color: #F83600;
    font-size: 16px;
    /* display: flex;
    align-items: center;
    gap: 4px; */
} 


ul a.active {
    background: linear-gradient(90deg, rgba(248, 54, 0, 1), rgba(249, 212, 35, 1));
    color: white; 
    font-weight: 600;
    font-size: 16px;
     padding: 4px 12px; 
    border-radius: 999px; 
    display: inline-block;
    
}

 ul li a:hover {
    background: linear-gradient(90deg, rgba(248, 54, 0, 1), rgba(249, 212, 35, 1));
    color: white;
    padding: 4px 12px;
    border-radius: 999px;
    
}
